<!doctype html>
<html ng-app="TodoApp">

<head>
    <title>ToDo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="todo.css">
</head>

<body>
    <div ng-controller="TodoCtrl" class="container">
        <div class="createTask">
            <form ng-submit="addTodo()" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="todoSummary" size="30" placeholder="New task" ng-click="endEditMode()">
                </div>
                <div class="form-group">
                    <select class="form-control priority" name="priority" ng-model="priority" ng-click="endEditMode()">
                        <option value="2">Medium</option>
                        <option value="3">High</option>
                        <option value="1">Low</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control datepicker" type="date" name="dueDate" ng-model="dueDate" placeholder="yyyy-MM-dd" min="2015-01-01" max="2016-12-31" required/>
                </div>
                <button class="btn btn-default" type="submit">add</button>
            </form>
        </div>
        <table class="table table-hover">
            <tr>
                <th>
                    <a href="" ng-click="order('summary')">Summary</a>
                    <span class="sortorder" ng-show="predicate === 'summary'" ng-class="{reverse:reverse}"></span>
                </th>
                <th>
                    <a href="" ng-click="order('priority')">Priority</a>
                    <span class="sortorder" ng-show="predicate === 'priority'" ng-class="{reverse:reverse}"></span>
                </th>
                <th>
                    <a href="" ng-click="order('dueDate')">Due Date</a>
                    <span class="sortorder" ng-show="predicate === 'dueDate'" ng-class="{reverse:reverse}"></span>
                </th>
                <th>
                </th>
            </tr>
            <tr ng-repeat="todo in todos | orderBy:predicate:reverse" class="Bg{{todo.priority}}">
                <td>
                    <input type="checkbox" class="todoCheckbox" ng-model="todo.done">
                    <span ng-click="edit($event)" class="done-{{todo.done}} todoSummary">{{todo.summary}}</span>
                    <form class="editForm disabled form-inline" ng-submit="editSubmit($event)">
                        <div class="form-group ">
                            <input class="form-control" type="text" size="30" value="{{todo.summary}}" />
                        </div>
                        <button class="btn btn-default" type="submit">save</button>
                    </form>
                </td>
                <td>
                    <select class="form-control priority" name="priority" ng-model="todo.priority" ng-change="saveToLocalStorage()" ng-click="endEditMode()">
                        <option value="2">Medium</option>
                        <option value="3">High</option>
                        <option value="1">Low</option>
                    </select>
                </td>
                <td>
                    <input class="form-control datepicker" type="date" name="dueDate" ng-model="todo.dueDate" placeholder="yyyy-MM-dd" min="2015-01-01" max="2016-12-31" ng-change="saveToLocalStorage()" required ng-click="endEditMode()" />
                </td>
                <td>
                    <img ng-click="removeTask()" src="https://daks2k3a4ib2z.cloudfront.net/550e007d546198ec34eaa47d/552026168177a9a77de94f36_close-512.png" class="removeBtn" height="20" width="20" alt="">
                </td>
            </tr>
        </table>
    </div>
</body>

</html>
