<!doctype html>
<html ng-app="TodoApp">

<head>
    <title>ToDo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
</head>

<body>
    <div ng-controller="TodoCtrl">
        <h2>Create new task</h2>
        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoSummary" size="30" placeholder="New task" ng-click="endEditMode()">
            <input class="btn-primary" type="submit" value="add">
        </form>
        <h2>To do list</h2>
        <span>Tasks {{remaining()}} of {{todos.length}}</span> [ <a href="" ng-click="archive()">archive done tasks</a> ]
        <ul class="unstyled">
            <li ng-repeat="todo in todos | orderBy:'-summary'">
                <input type="checkbox" class="todoCheckbox" ng-model="todo.done">
                <span ng-click="edit($event)" class="done-{{todo.done}} todoSummary">{{todo.summary}}</span>
                <img ng-click="removeTask()" src="https://daks2k3a4ib2z.cloudfront.net/550e007d546198ec34eaa47d/552026168177a9a77de94f36_close-512.png" class="removeBtn" height="20" width="20" alt="">
                <form class="editForm disabled" ng-submit="editSubmit($event)">
                    <input type="text" size="30" value="{{todo.summary}}">
                    <input class="btn-primary" type="submit" value="ok">
                </form>
            </li>
        </ul>
    </div>
</body>

</html>
