.done-true {
    text-decoration: line-through;
    color: grey;
}

.unstyled {
    list-style: none;
    -webkit-padding-start: 0;
    padding-left: 10px;
}

.editForm {
    display: none;
}

.removeBtn {
    margin-left: 10px;
    cursor: pointer;
}

span {
    cursor: pointer;
}

.editItem .removeBtn {
    display: none;
}

.editItem .todoCheckbox {
    display: none;
}

.editItem .todoSummary {
    display: none;
}

.editItem .editForm {
    display: inline-block;
}
